@font-face {
  font-family: "mi"; /* Project id 2812860 */
  src: url('iconfont.woff2?t=1638112248996') format('woff2'),
       url('iconfont.woff?t=1638112248996') format('woff'),
       url('iconfont.ttf?t=1638112248996') format('truetype');
}

.mi {
  font-family: "mi" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjia:before {
  content: "\e7c4";
}

.icon-bokexinwen:before {
  content: "\e6fd";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-zhengquewancheng-xianxingyuankuang:before {
  content: "\e8e3";
}

.icon-xihuan-xianxing:before {
  content: "\e8c4";
}

.icon-infofill:before {
  content: "\e6e4";
}

.icon-cuowu:before {
  content: "\e601";
}

.icon-tixingshixin:before {
  content: "\ec72";
}

.icon-chenggong:before {
  content: "\e8c3";
}

.icon-guanbi:before {
  content: "\e624";
}

.icon-15:before {
  content: "\e639";
}

.icon-7:before {
  content: "\e67d";
}

.icon-liwu:before {
  content: "\e685";
}

.icon-didian:before {
  content: "\e61c";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-gouwuche1:before {
  content: "\e645";
}

.icon-shouhoufuwu:before {
  content: "\e687";
}

.icon-kefu:before {
  content: "\e60d";
}

.icon-gerenzhongxin:before {
  content: "\e613";
}

.icon-shouji:before {
  content: "\e697";
}

.icon-search1:before {
  content: "\e678";
}

